<footer>

		<div class="opaque-section hidden-xs">&nbsp;</div>
		

		<div class="stories-btn hidden-xs">
			<button type="button" class="footer-btn btn btn-default" data-toggle="collapse" data-target=".stories-collapse"><i class="icon-chevron-up"></i></button>

		</div>

				
		<div class="featured more-stories container visible-xs">
				<h2><i class="icon-th-large"></i> More Stories</h2>
			</div>
		<section class="stories-collapse collapse">				

			<div id="bottom-nav" class="bottom-nav hidden-xs">

				<nav class="container">
					<div class="row">
					<div class="col-xs-12">

						<ul class="category-nav nav navbar-nav navbar-left">

							<li><a href="category.html">SHARE YOUR STORY <i class="icon-chevron-right" style="color:#6da3bf;"></i></a></li>
							<li><a href="category.html">VOLUNTEER <i class="icon-chevron-right" style="color:#ef9616;"></i></a></li>
							<li><a href="category.html">ATTEND AN EVENT <i class="icon-chevron-right" style="color:#a87d99;"></i></a></li>

						</ul>

						<ul class="category-nav nav navbar-nav navbar-right">
							<li><a href="about.html" style="padding-right:0px">ABOUT THE CAMPAIGN <i class="icon-chevron-right" style="color:#fff;"></i></a></li>
						</ul>

					</div>
				</div>

				</nav>

			</div> 

			<div class="stories-parent">

				<div class="stories-container container">


					<div id="stories-slider" class="carousel slide">

						<!-- Wrapper for slides -->
						<div class="carousel-inner">


							<div class="item active">

								<div class="row three-column">

									<div class="col-xs-6 col-sm-4">
										<a href="article.html">
											<div class="img-container">
												<img src="assets/img/article1.jpg" alt="" />
											</div>
										</a>
										<h4 class="short-article-title"><a href="article.html">Regular Article</a></h4>
									</div>

									<div class="col-xs-6 col-sm-4">
										<a href="article.html">
											<div class="img-container">
												<img src="assets/img/article2.jpg" alt="" />
											</div>
										</a>
										<h4 class="short-article-title"><a href="article-video.html">Video Article</a></h4>
									</div>

									<div class="col-xs-6 col-sm-4">
										<a href="article.html">
											<div class="img-container">
												<img src="assets/img/article3.jpg" alt="" />
											</div>
										</a>
										<h4 class="short-article-title">Short Title</h4>
									</div>

									<div class="col-xs-6 col-sm-4">
										<a href="article.html">
											<div class="img-container">
												<img src="assets/img/article4.jpg" alt="" />
											</div>
										</a>
										<h4 class="short-article-title"><a href="article.html">Regular Article</a></h4>
									</div>

									<div class="col-xs-6 col-sm-4">
										<a href="article.html">
											<div class="img-container">
												<img src="assets/img/article5.jpg" alt="" />
											</div>
										</a>
										<h4 class="short-article-title"><a href="article-video.html">Video Article</a></h4>
									</div>

									<div class="col-xs-6 col-sm-4">
										<a href="article.html">
											<div class="img-container">
												<img src="assets/img/article6.jpg" alt="" />
											</div>
										</a>
										<h4 class="short-article-title">Short Title</h4>
									</div>

								</div>						

							</div>



							<div class="item">

								<div class="row three-column">

									<div class="col-xs-6 col-sm-4">
										<a href="article.html">
											<div class="img-container">
												<img src="assets/img/article1.jpg" alt="" />
											</div>
										</a>
										<h4 class="short-article-title"><a href="article.html">Regular Article</a></h4>
									</div>

									<div class="col-xs-6 col-sm-4">
										<a href="article.html">
											<div class="img-container">
												<img src="assets/img/article2.jpg" alt="" />
											</div>
										</a>
										<h4 class="short-article-title"><a href="article-video.html">Video Article</a></h4>
									</div>

									<div class="col-xs-6 col-sm-4">
										<a href="article.html">
											<div class="img-container">
												<img src="assets/img/article3.jpg" alt="" />
											</div>
										</a>
										<h4 class="short-article-title">Short Title</h4>
									</div>

									<div class="col-xs-6 col-sm-4">
										<a href="article.html">
											<div class="img-container">
												<img src="assets/img/article4.jpg" alt="" />
											</div>
										</a>
										<h4 class="short-article-title"><a href="article.html">Regular Article</a></h4>
									</div>

									<div class="col-xs-6 col-sm-4">
										<a href="article.html">
											<div class="img-container">
												<img src="assets/img/article5.jpg" alt="" />
											</div>
										</a>
										<h4 class="short-article-title"><a href="article-video.html">Video Article</a></h4>
									</div>

									<div class="col-xs-6 col-sm-4">
										<a href="article.html">
											<div class="img-container">
												<img src="assets/img/article6.jpg" alt="" />
											</div>
										</a>
										<h4 class="short-article-title">Short Title</h4>
									</div>

								</div>	


							</div>


						</div>

						<!-- Controls -->
						<a class="left carousel-control" href="#stories-slider" data-slide="prev">
							<i class="icon-chevron-left"></i>
						</a>
						<a class="right carousel-control" href="#stories-slider" data-slide="next">
							<i class="icon-chevron-right"></i>
						</a>
					</div>


			</div>

			</div>

			<div style="padding:10px">&nbsp;</div>


		</section>

		<div class="bottom-links fade">

			<div class="container">

				<div class="row">

					<div class="social col-xs-6">

						<i class="icon-twitter"></i>
						<i class="icon-facebook"></i>
						<i class="icon-google-plus"></i>
						<i class="icon-youtube-play"></i>

					</div>

					<div class="admin-links col-xs-6">
						<a href="#">Terms of Service</a> | <a href="#">Privacy Policy</a>
					</div>

				</div>

			</div>

		</div>

	</footer>


</body>

</html>