<!DOCTYPE html>
<html lang="en">
<head>
	<title>Campaign Website | Page Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="http://cmsassets.nau.edu/campaign-website/live/assets/css/styles.css">

	<script src="http://codeorigin.jquery.com/jquery-latest.min.js"></script>
	<script src="http://cmsassets.nau.edu/campaign-website/live/assets/js/campaign_website.min.js"></script>

</head>
<body>